.App {
    text-align: center;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
  }
  .characters {
    list-style: none;
    padding-left: 0;
  }
  
  .characters li {
    display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  